h1{
    display: flex;
    color: #364e96;
    padding: 0.2em 0;
    border-top: dashed 2px #364e96;  /*上線*/
    border-bottom: dashed 2px #364e96;  /*上線*/
}
h2{
    display: flex;
}
/*baselineがずれることを修正している*/
math{
    height: 0;
    line-height: 1.3;           /*調整する数値*/
    vertical-align: baseline;
    position: relative;
    top: .5ex;
}