html{
    font-size: 1em;
}
h1{
    font-size: 2rem;
}
div{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
div.button{
    display: flex;
    align-items: center;
}
label{
    display: flex;
    width: 400px;
    text-align: left;
}